logic-apps/xml2json_integrationaccount_logicapp.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "CatchException": {
                "actions": {
                    "FilterErrorMessage": {
                        "inputs": {
                            "from": "@body('ParseScopeOutput')",
                            "where": "@equals(item()['status'], 'Failed')"
                        },
                        "runAfter": {
                            "ParseScopeOutput": [
                                "Succeeded"
                            ]
                        },
                        "type": "Query"
                    },
                    "ParseScopeOutput": {
                        "inputs": {
                            "content": "@result('Scope')",
                            "schema": {
                                "items": {
                                    "properties": {
                                        "clientTrackingId": {
                                            "type": "string"
                                        },
                                        "code": {
                                            "type": "string"
                                        },
                                        "endTime": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "properties": {
                                                "code": {
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "inputs": {
                                            "properties": {
                                                "content": {
                                                    "type": "string"
                                                },
                                                "integrationAccount": {
                                                    "properties": {
                                                        "schema": {
                                                            "properties": {
                                                                "name": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "startTime": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "string"
                                        },
                                        "trackingId": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "name",
                                        "startTime",
                                        "endTime",
                                        "trackingId",
                                        "clientTrackingId",
                                        "code",
                                        "status",
                                        "error"
                                    ],
                                    "type": "object"
                                },
                                "type": "array"
                            }
                        },
                        "runAfter": {},
                        "type": "ParseJson"
                    },
                    "ResponseWithErrorCode": {
                        "inputs": {
                            "body": {
                                "ErrorCode": "@{body('FilterErrorMessage')?[0]?['error']?['code']}",
                                "ErrorMessage": "@{body('FilterErrorMessage')?[0]?['error']?['message']}"
                            },
                            "headers": {
                                "Content-Type": "application/json"
                            },
                            "statusCode": 200
                        },
                        "kind": "Http",
                        "runAfter": {
                            "FilterErrorMessage": [
                                "Succeeded"
                            ]
                        },
                        "type": "Response"
                    },
                    "Terminate": {
                        "inputs": {
                            "runStatus": "Succeeded"
                        },
                        "runAfter": {
                            "ResponseWithErrorCode": [
                                "Succeeded"
                            ]
                        },
                        "type": "Terminate"
                    }
                },
                "runAfter": {
                    "Scope": [
                        "TimedOut",
                        "Skipped",
                        "Failed"
                    ]
                },
                "type": "Scope"
            },
            "Response": {
                "inputs": {
                    "body": "@outputs('TransformXml2Json')",
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "statusCode": 200
                },
                "kind": "Http",
                "runAfter": {
                    "CatchException": [
                        "SKIPPED"
                    ]
                },
                "type": "Response"
            },
            "Scope": {
                "actions": {
                    "TransformXml2Json": {
                        "inputs": "@json(xml(body('Transform_XML')))",
                        "runAfter": {
                            "Transform_XML": [
                                "Succeeded"
                            ]
                        },
                        "type": "Compose"
                    },
                    "Transform_XML": {
                        "inputs": {
                            "content": "@{triggerBody()}",
                            "integrationAccount": {
                                "map": {
                                    "name": "collection2singleobject"
                                }
                            }
                        },
                        "runAfter": {
                            "XML_Validation": [
                                "Succeeded"
                            ]
                        },
                        "type": "Xslt"
                    },
                    "XML_Validation": {
                        "inputs": {
                            "content": "@{triggerBody()}",
                            "integrationAccount": {
                                "schema": {
                                    "name": "objects"
                                }
                            }
                        },
                        "runAfter": {},
                        "type": "XmlValidation"
                    }
                },
                "runAfter": {},
                "type": "Scope"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {},
        "triggers": {
            "manual": {
                "inputs": {
                    "method": "POST",
                    "schema": {}
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "parameters": {}
}